.Header__video
	img.Header__video-media( 
		src="img/endlich.jpg" 
		alt="endlich ..."
		data-video-URL="https://www.youtube.com/embed/Scxs7L0vhZ4"
		data-teaser="video/teaser-video"
		data-video-width="560"
        data-video-height="315">
	)
	a.Header__video-play-trigger(href="https://www.youtube.com/embed/Scxs7L0vhZ4") Play Video
	button.Header__video-close-trigger(type="button") Close Video